version: "3.4"
services:
  postgres:
    restart: always
    image: postgres:12
    environment:
      POSTGRES_USER: {{ maps_pg_user }}
      POSTGRES_PASSWORD: {{ maps_pg_password }}
      POSTGRES_DB: {{ maps_pg_dbname }}
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data

  maps:
    restart: always
    image: {{ maps_image }}
    command: maps-api
    ports:
      - 80:8081
    environment:
      MAPS_PG_URL: postgresql://{{ maps_pg_user }}:{{ maps_pg_password }}@postgres/{{ maps_pg_dbname }}
